

#about-us{display:block; width:100%; line-height:1.6em;}

#about-us #about-intro{margin-bottom:50px;}
#about-us #about-intro p{margin:10px 0 0 0; padding:0;}
#about-us #about-intro p:first-child{margin-top:0;}

#about-us #team{margin-bottom:30px;}
#about-us #team ul{margin:0; padding:0; list-style:none; text-align:center;}
#about-us #team ul li{margin-bottom:20px; padding-bottom:20px; border-bottom:1px solid #CCCCCC;}
#about-us #team ul li figure{}
#about-us #team ul li figure img{}
#about-us #team ul li figure figcaption{}
#about-us #team ul li p{margin:15px 0 0 0; padding:0;}
#about-us #team ul li p:first-child{}
#about-us #team ul li figure figcaption .team_name{font-weight:bold;}
#about-us #team ul li figure figcaption .team_title{margin:0; font-size:11px; line-height:normal;}
#about-us #team ul li figure figcaption .team_description{}
#about-us #team ul ul{margin-top:20px;}
#about-us #team ul ul li{display:inline; margin:0 0 0 6px; padding:0; border:none;}
#about-us #team ul ul li:first-child{margin-left:0;}
#about-us #team ul ul li a{}
#about-us #team ul ul li a img{margin:0;}

#about-us #client_logos{margin:0;}
#about-us #client_logos ul{margin:0; padding:0; list-style:none;}
#about-us #client_logos ul li{}
#about-us #client_logos ul li:first-child{margin-left:0;}
#about-us #client_logos ul li img{}
