#listCont{
    display: flex;
    flex-direction: column;
}

.list-group-horizontal{
    justify-content: center;
    align-content: flex-start;
}
#viewLeagues{
    width: 150px;
    height: 50px;
}
#mainContainer{
    margin-top: 70px !important;
    /*padding-top: 200px !important;*/
}
#carouselExampleCaptions img{
    width:1100px;
    max-height: 350px;
}
